# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ------------------------------------------------------------------------

# Think what to do with this:


# Don't take care about static files (css, js ... )

static/

# PyCharm settings folder

.idea/

# What about compiled files?

*.pyc

# Migrations don't provide useful information, do they?

*/migrations


# Just being careful about the audios

*.mp3
*.m4a

# Silence is golden ...

*.log
*.sql
*.sqlite
*.sqlite3
*.db

# When usgin vi(m)

*.swp

# But making sure every python file is included

!*.py

# Except settings. VERY Sensitive data is stored there.

podcastmanager/settings.py
