{% extends "statistics/index.html" %}

{% load staticfiles %}

{% block extrastyle %}
    <link href="{% static 'statistics/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
    <div class="col-xs-12 col-sm-9 col-md-10" >
        <div class="row" >
            <div class="col-sm-12 col-md-6" >

                <form action="#" id="between-dates" name="between-dates" method="POST" >
                    {% csrf_token %}
                    <span class="lead" >Between 2 dates</span>
                    <p id="errorPlacer"  ></p>

                    <div class="input-daterange input-group" id="datepicker">

                        <input type="text" class="input-sm form-control" id="start" name="start" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" id="end" name="end" />

                    </div>

                    <br/>

                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary btn-block" id="date-to-date" >Check</button>
                    </div>

                </form>

            </div>

            <div class="col-sm-12 col-md-6" >
                <div class="input-group" >
                    <span class="lead" >In the past <input type="text" class="input-sm"  /> days</span>

                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-primary btn-block" >Check</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="{% static 'datepicker/bootstrap-datepicker.min.js' %}" ></script>
    <script src="{% static 'jvalidator/jquery.validate.min.js' %}" ></script>
    <script>

        $('.input-daterange').datepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            startDate: "01-10-2015",
            endDate: "now",
            todayBtn: "linked",
            forceParse: false
        });

        jQuery(document).ready(function(){

            // Rules for validation
            jQuery.validator.addMethod('validDate', function(value, element) {
                return /^\d{4}-\d{2}-\d{2}$/.test(value);
            }, 'Dates must have this format: yyyy-mm-dd');


            jQuery('#between-dates').validate({
                rules: {
                    start: {
                        required: true,
                        validDate: true
                    },
                    end: {
                        required: true,
                        validDate: true
                    }
                },
                messages: {
                    start: {
                        required: "Please, enter a date"
                    },
                    end: {
                        required: "Please, enter a date"
                    }
                },
                errorPlacement: function(error, element) {
                    error.appendTo('#errorPlacer');
                }
            });

            jQuery('#date-to-date').click(function(){
                if ( jQuery('#between-dates').valid() ){
                    var request = jQuery.ajax({
                        type: 'POST',
                        url: '/stats/between-dates/two-dates/',
                        dataType: 'json',
                        data: {
                            'start': jQuery('#start').val().trim(),
                            'end': jQuery('#end').val().trim(),
                            'csrfmiddlewaretoken': jQuery('[name=csrfmiddlewaretoken]').val()
                        }
                    });

                    request.done(function(json, httpStatusCode){
                        alert(json);
                    });
                }
            });

        });// End ready


    </script>

{% endblock %}