<!DOCTYPE html>
<html>
<head lang="es-ES" >
    <meta charset="UTF-8" >
    <title>Streaming | Katodia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    {% load staticfiles %}
    <link href="{% static 'demo/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'demo/css/bootstrap3_player.css' %}" rel="stylesheet" />
    <link href="{% static 'demo/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'demo/css/jquery.bootgrid.min.css' %}" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-xs-12" >
                <div class="jumbotron" >
                    <h2>Podcast Manager in Streaming</h2>
                </div>
            </div>
        </div>
        <div class="row" >
        {% block player %}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                <audio controls
                    data-info-album-art="https://farm9.staticflickr.com/8642/16106988340_058071cdbe_z.jpg"
                    data-info-album-title="8874"
                    data-info-artist="Iain Houston and Felix Gibbons"
                    data-info-title="BeBop Aliens"
                    data-info-label="Independent"
                    data-info-year="2005"
                    data-info-att="Music: Iain Houston and Felix Gibbons."
                    data-info-att-link="https://github.com/iainhouston" >

                    <source src="http://katodia.com:8000/mpd" type="audio/mp3" />
                    <source src="http://katodia.com:8000/mpd" type="audio/mpeg" />

                    <a href="http://playerdemo.iainhouston.com/tests/BeBopAliens.mp3">BeBopAliens</a>
                    An html5-capable browser is required to play this audio.

                </audio>
            </div>
        {% endblock %}
        <!-- Playlist -->
        {% block playlist %}
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >

            <table id="grid-data-api" class="table table-condensed table-hover table-striped"
                   data-ajax="true"
                   data-url="/api/playlist/" >
                <thead>
                    <tr>
                        <th data-column-id="pos"
                            data-formatter="nice-pos"
                            data-type="numeric"
                            data-identifier="true" >
                            Pitch
                        </th>
                        <th data-column-id="episode_title">Title</th>
                        <th data-column-id="podcast_name" data-order="desc">Podcast</th>
                    </tr>
                </thead>
            </table>

        </div>
        {% endblock %}
    </div>
    </div>
    <script src="{% static 'demo/js/jquery.min.js' %}" ></script>
    <script src="{% static 'demo/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'demo/js/bootstrap3_player.js' %}"></script>
    <script src="{% static 'demo/js/jquery.bootgrid.min.js' %}" ></script>
    <script>
        $("#grid-data-api").bootgrid({
            ajaxSettings: {
                method: "GET",
                cache: false
            },
            formatters: {
                "nice-pos": function(column, row)
                {
                    return row.pos + 1;
                }
            }
        });
    </script>
</body>
</html>