{% if form %}
{% load staticfiles %}
{% if form.errors %}
    <p><!--style="color: red;" -->
    Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}

<form id="form_live" action="" method="post" enctype="multipart/form-data" >
    <h3>Datos de emisión</h3>
    <section>
        <p>
            A continuación se piden una serie de datos que empleará nuestra API y que recibirán el resto de
            aplicaciones que conectan con Radio Podcastellano, donde se verán reflejados. Estos datos son:
        </p>
        <table>
             <tr>
                 <th>
                     <label for="id_image_file">Imagen de portada:
                         <br/>
                         <small style="font-size: 10px" >Si no especifica, se enviará
                             <a href="{% static 'images/covers/default.png' %}" target="_blank" >esta</a>
                        </small>
                     </label>
                 </th>
                 <td><input id="id_image_file" name="image_file" type="file"/></td>
             </tr>
            <tr>
                <th><label for="id_event_title">Título del evento:</label></th>
                <td><input id="id_event_title" maxlength="200" name="event_title" type="text"  /></td>
            </tr>
            <tr>
                <th><label for="id_artists">Artista o conjunto de artistas:</label></th>
                <td><input id="id_artists" maxlength="200" name="artists" type="text" /></td>
            </tr>
        </table>
    </section>
    <h3>Tuitea acerca de tu evento</h3>
    <section>
        <p>
            Tuitea acerca del inicio de tu evento. No es necesario que publiques algo ahora, más adelante
            tendrás la opción tuitear durante tu estancia en modo directo.
            <br>Este y demás tuits se publicarán en la cuenta de <a href="https://twitter.com/Radio_Podcast" >Radio Podcastellano</a>
        </p>
        <p id="textarea_container" >
            <textarea cols="40" id="id_content" maxlength="140" name="content" ></textarea>
            <strong id="chars" ></strong>
        </p>
    </section>
    <h3>Entra en modo directo</h3>
    <section>
        <p>
            Cuando cliques en el botón "Finalizar", entrarás en modo directo. Esto significa que
            <strong>pausarás la reproducción automática</strong> de Radio Podcastellano. Una vez finalizada
            la emisión en directo, debes desactivar el <em>modo directo</em> para que la aplicación siga su
            curso normal y continúe con el streaming. <strong>Es importante ese último paso, ¡ya que la
            reproduccion quedaría pausada!</strong>
        </p>
    </section>
    {% csrf_token %}
</form>

{% endif %}