.navbar {
    border-radius: 0px;
}

.table-nowrap {
	table-layout:fixed;
}

.table-nowrap td, .table-nowrap th{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


/* jumbotron ... jimbotron ... how hilarious */

.jumbotron{
    padding-top: 30px !important;
}

.progress:hover{
    cursor: pointer;
}

.table tbody tr > td.info {
  background-color: red !important;
}

.table-hover tbody tr:hover > td.info {
    background-color: red !important;
}

/* Gif manager related stuff */

.gif {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 2px;
}

.pitch-number{
    float: left;
}