.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #000000;
}
.icon-home {
	fill: #000000;
}
.icon-newspaper {
	fill: #000000;
}
.icon-pencil {
	fill: #000000;
}
.icon-music {
	fill: #000000;
}
.icon-podcast {
	fill: #000000;
}
.icon-user {
	fill: #000000;
}
.icon-users {
	fill: #000000;
}
