{% extends "base_player.html" %}
{% load staticfiles %}
{% block extrastaticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
<script>
    //Some global data
    COVERS_DIR = '{% static 'images/covers/' %}';
    var current_pitch = -1;

    var button_images = {
        'play' : '{% static 'images/play.png' %}',
        'played' : '{% static 'images/play_activo.png' %}',
        'stop' : '{% static 'images/stop.png' %}',
        'stopped' : '{% static 'images/stop_activo.png' %}',
        'pause' : '{% static 'images/pause.png' %}',
        'paused' : '{% static 'images/pause_activo.png' %}'
    };
</script>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/player.js' %}"></script>
{% endblock %}
{% block player %}
<div id="player_box"  >
    <div id="player_control_panel" >
        <div>
            <span>Status: <strong id="status" ></strong></span><br/>
            <span>Pista: <strong id="strong_pitch" ></strong></span><br/>
            <span>Podcast: <strong id="strong_podcast" ></strong></span><br/>
            <span>Episodio: <strong id="strong_episode" ></strong></span>
        </div>
        <div id="buttons_container" >
            <div class="div_action_button"  >
                <img src="{% static 'images/play.png' %}" id="play" class="action_button"
                     alt="Comenzar reproducción" title="Comenzar reproducción" />
            </div>
            <div class="div_action_button"  >
                <img src="{% static 'images/stop.png' %}" id="stop" class="action_button"
                     alt="Detener reproducción" title="Detener reproducción. Reinicia cancion actual" />
            </div>
            <div class="div_action_button"  >
                <img src="{% static 'images/pause.png' %}" id="pause" class="action_button"
                     alt="Pausar reproducción" title="Pausar reproducción" />
            </div>
        </div>
        <div id="progressbar_container" >
            <progress id="progressbar"  value="1" max="100" ></progress>
            <time id="time_current_song" ></time>
            <div style="clear:both" >&nbsp;</div>
        </div>
        <div style="clear:both" >&nbsp;</div>
    </div>
    <a href="update_list/">Refrescar lista</a>
        <br/>
    <a href="reset_list/">Resetear lista</a>
    <div style="clear:both" >&nbsp;</div>
</div>
{% endblock %}
{% block playlist %}
<div class="playlist">
{% if episode_list %}
    <h1>Lista de reproducción</h1>
    <table id="table_playlist" >
        <tr>
            <td colspan="6" ></td>
            <td>Total time</td>
            <td><script>document.write(format_time({{total_time}}));</script></td>
        </tr>
        <tr>
            <th>Pitch</th>
            <th>Play it</th>
            <th>Cover</th>
            <th>Episode</th>
            <th>Podcast</th>
            <th>Duration</th>
            <th>Times played</th>
            <th>Last time played</th>
        </tr>
        {% for episode in episode_list %}
        <tr id="tr_{{episode.pos}}" class="tr_audio" >
            <td class="centered" >{{episode.pos|add:"1"}}</td>
            <td class="td_play-it" >
                <div id="audio-{{episode.pos}}" class="div_play-it" >
                    <img class="little_image" src="{% static 'images/play.png' %}" width="16" height="16" />
                </div>
            </td>
            <td>
                <div class="centered" id="div_cover_{{episode.pos}}" >
                    <input type="hidden" name="filename" id="cover_{{episode.pos}}" value="{{episode.get_image_filename}}" />
                    <img src="{% static 'images/loading.gif' %}" alt="{{episode.title}}" title="{{episode.title}}"
                         class="img_cover" id="img_{{episode.pos}}" />
                </div>
            </td>
            <td title="{{ episode.titulo }}">
                <a href="{{ episode.get_admin_url }}" >{{episode.titulo}}</a>
            </td>
            <td title="{{ episode.podcast.nombre }}" >
                <a href="{{ episode.podcast.get_admin_url }}" >{{episode.podcast.nombre}}</a>
            </td>
            <td class="td_time" ><script>document.write(format_time({{episode.duration}}));</script></td>
            <td style="text-align: center;" >{{episode.times_played}}</td>
            <td>
                {% if episode.last_played %}
                <a href="{{ episode.last_played.get_admin_url }}" >
                    {{episode.last_played.ini|date:'d-m-y H:m:i'}}
                </a>
                {% else %}
                <span>Still not played</span>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="6" ></td>
            <td>Total time</td>
            <td><script>document.write(format_time({{total_time}}));</script></td>
        </tr>
    </table>
{% else %}
    <h1>No hay lista de reproducción</h1>
{% endif %}
</div>
{% endblock %}